<div>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/slider1.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/slider2.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="img/slider3.jpg" alt="New York" width="1100" height="500">
            </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
	</div>
	<a href="/product">product</a>
    <div class="listProduct">
				<div class="row">
					<div class="col-3">
						<div class="card" style="width: 18rem;" ng-click="productDetail()">
								<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">Dell Vostro 3468</h5>
									<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
									<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
									<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
									<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
								</div>
							</div>
				</div>
					<div class="col-3">
							<div class="card" style="width: 18rem;">
									<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Dell Vostro 3468</h5>
										<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
										<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
										<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
										<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
									</div>
								</div>
					</div>
					<div class="col-3">
							<div class="card" style="width: 18rem;">
									<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Dell Vostro 3468</h5>
										<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
										<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
										<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
										<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
									</div>
								</div>
					</div>
					<div class="col-3">
							<div class="card" style="width: 18rem;">
									<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Dell Vostro 3468</h5>
										<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
										<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
										<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
										<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
									</div>
								</div>
					</div>
				</div>
				<div class="row" style="padding-top: 1.5rem">
						<div class="col-3">
								<div class="card" style="width: 18rem;">
										<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title">Dell Vostro 3468</h5>
											<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
											<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
											<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
											<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
										</div>
									</div>
						</div>
						<div class="col-3">
								<div class="card" style="width: 18rem;">
										<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title">Dell Vostro 3468</h5>
											<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
											<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
											<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
											<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
										</div>
									</div>
						</div>
						<div class="col-3">
								<div class="card" style="width: 18rem;">
										<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title">Dell Vostro 3468</h5>
											<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
											<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
											<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
											<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
										</div>
									</div>
						</div>
						<div class="col-3">
								<div class="card" style="width: 18rem;">
										<img class="card-img-top" src="img/slider1.jpg" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title">Dell Vostro 3468</h5>
											<p style="margin-bottom: 0.5rem" class="card-text">Some quick example text to build on the card title.</p>
											<p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">15.000.000 đ</p>
											<p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >200.000 đ</span> -47%</p>
											<a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary">Thêm vào giỏ hàng</a>
										</div>
									</div>
						</div>
					</div>
    </div>
</div>
