<div class="productDetail" style="padding-left: 70px; padding-top: 50px; padding-right: 70px; background-color: #eff0f5;">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 100%; height: auto" >
                <img  style="width: 100%; height: auto" class="card-img-middle" src="img/slider1.jpg" alt="Card image cap">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-5">
            sdfsdf
        </div>
        <div class="col-3">
            sdsdg
        </div>
    </div>
</div>
